@font-face {
  font-family: Gilroy-Medium;
  src: url(../font/Gilroy-Medium.ttf);
  font-style: normal; 
  font-weight: normal; 
}
@font-face {
  font-family: Gilroy-Bold;
  src: url(../font/Gilroy-Bold.ttf);
  font-style: normal; 
  font-weight: normal; 
}