$white: #FFFFFF;
$black: #000000;
$orange: #FF8A56;
$pink: #FF5E69;
$purple: #B16CEA;
// $light-black: #222222;
$gray: #666666;
// $light-gray: #8B8B8B;
$lapis: #3C46FF;
$gold: #FFA84B;

$ff-Roboto: 'Roboto', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extraBold: 800;