.footer {
  background-color: $black;
  padding: 178px 0 20px 0;
}
.footer__head {
  font-weight: 700;
  line-height: 59.4px; /* 110% */
  letter-spacing: 1px;
  h2{
    color: $white;
  }
  span{
    color: $lapis;
  }
  margin-bottom: 100px;
}
.footer__body {
  display: flex;
  justify-content: space-between;
  margin-bottom: 125px;
  gap: 30px;
}
.footer__text {
  p{
    color: $gray;
    line-height: 28px; /* 175% */
    font-size: 1.6em;
    margin-bottom: 10px;
  }
  img{
    margin-bottom: 14px;
  }
}
.footer__mail {
  display: flex;
  gap: 8px;
  color: $gray;
  line-height: 28px; /* 175% */
  font-size: 1.6em;
}
.footer__nav {
  display: flex;
  justify-content: space-between;
  width: 485px;
}
.footer__list {
  
}
.footer__item {
  &:not(:last-child){
    margin-bottom: 40px;
  }
  
}
.footer__link {
  color: $white;
  font-size: 1.8em;
  font-weight: 700;
  line-height: 18px; /* 100% */
}
.footer__copyrate {
  color: $gray;
  line-height: 22.4px; /* 140% */
  font-size: 1.6em;
}